@tailwind base;
@tailwind components;
@tailwind utilities;

.bar {
    transition: all 0.5s ease-in-out;
}

.bar.compared {
    background-color: green;
}

.bar.animate {
    animation: swap 0.5s ease-in-out;
}

@keyframes swap {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}